<div class="container p-4">
  <mat-accordion *ngIf="activation.length>0 else sinregistro">
    <mat-expansion-panel
    *ngFor="let item of activation"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Registro de activacion {{item?.id}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Se activo la alarma el {{item?.fecha}} a la hora {{item?.hora}}</p>
    </mat-expansion-panel>

  </mat-accordion>
  <ng-template #sinregistro>
    <div class="alert alert-danger my-4" role="alert">
      <h4 class="alert-heading"></h4>
      <p>Sin registros de activación</p>
      <p class="mb-0"></p>
    </div>
  </ng-template>

</div>
